<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lipid.name %>
</p>

<p>
  <b>Fat:</b>
  <%= @lipid.fat %>
</p>

<p>
  <b>Vita:</b>
  <%= @lipid.vita %>
</p>

<p>
  <b>Vitd:</b>
  <%= @lipid.vitd %>
</p>

<p>
  <b>Vite:</b>
  <%= @lipid.vite %>
</p>

<p>
  <b>Vitk:</b>
  <%= @lipid.vitk %>
</p>

<p>
  <b>Vitb1:</b>
  <%= @lipid.vitb1 %>
</p>

<p>
  <b>Vitb2:</b>
  <%= @lipid.vitb2 %>
</p>

<p>
  <b>Vitb3:</b>
  <%= @lipid.vitb3 %>
</p>

<p>
  <b>Vitb5:</b>
  <%= @lipid.vitb5 %>
</p>

<p>
  <b>Vitb6:</b>
  <%= @lipid.vitb6 %>
</p>

<p>
  <b>Vitb12:</b>
  <%= @lipid.vitb12 %>
</p>

<p>
  <b>Biot:</b>
  <%= @lipid.biot %>
</p>

<p>
  <b>Vitc:</b>
  <%= @lipid.vitc %>
</p>

<p>
  <b>Fol:</b>
  <%= @lipid.fol %>
</p>


<%= link_to 'Edit', edit_lipid_path(@lipid) %> |
<%= link_to 'Back', lipids_path %>
