<p id="notice"><%= notice %></p>

<p>
  <b>Kcal:</b>
  <%= @ebm.kcal %>
</p>

<p>
  <b>Prot:</b>
  <%= @ebm.prot %>
</p>

<p>
  <b>Cho:</b>
  <%= @ebm.cho %>
</p>

<p>
  <b>Fat:</b>
  <%= @ebm.fat %>
</p>

<p>
  <b>Sod:</b>
  <%= @ebm.sod %>
</p>

<p>
  <b>Pot:</b>
  <%= @ebm.pot %>
</p>

<p>
  <b>Calc:</b>
  <%= @ebm.calc %>
</p>

<p>
  <b>Phos:</b>
  <%= @ebm.phos %>
</p>

<p>
  <b>Iron:</b>
  <%= @ebm.iron %>
</p>

<p>
  <b>Zinc:</b>
  <%= @ebm.zinc %>
</p>

<p>
  <b>Copp:</b>
  <%= @ebm.copp %>
</p>

<p>
  <b>Mang:</b>
  <%= @ebm.mang %>
</p>

<p>
  <b>Mag:</b>
  <%= @ebm.mag %>
</p>

<p>
  <b>Chlor:</b>
  <%= @ebm.chlor %>
</p>

<p>
  <b>Iod:</b>
  <%= @ebm.iod %>
</p>

<p>
  <b>Vita:</b>
  <%= @ebm.vita %>
</p>

<p>
  <b>Vitb1:</b>
  <%= @ebm.vitb1 %>
</p>

<p>
  <b>Vitb2:</b>
  <%= @ebm.vitb2 %>
</p>

<p>
  <b>Vitb3:</b>
  <%= @ebm.vitb3 %>
</p>

<p>
  <b>Vitb5:</b>
  <%= @ebm.vitb5 %>
</p>

<p>
  <b>Vitb6:</b>
  <%= @ebm.vitb6 %>
</p>

<p>
  <b>Vitc:</b>
  <%= @ebm.vitc %>
</p>

<p>
  <b>Vitd:</b>
  <%= @ebm.vitd %>
</p>

<p>
  <b>Vitb12:</b>
  <%= @ebm.vitb12 %>
</p>

<p>
  <b>Vitb7:</b>
  <%= @ebm.vitb7 %>
</p>

<p>
  <b>Vite:</b>
  <%= @ebm.vite %>
</p>

<p>
  <b>Vitk:</b>
  <%= @ebm.vitk %>
</p>

<p>
  <b>Chol:</b>
  <%= @ebm.chol %>
</p>

<p>
  <b>Fol:</b>
  <%= @ebm.fol %>
</p>

<p>
  <b>Biot:</b>
  <%= @ebm.biot %>
</p>

<p>
  <b>Fibre:</b>
  <%= @ebm.fibre %>
</p>

<p>
  <b>Dha:</b>
  <%= @ebm.dha %>
</p>

<p>
  <b>Linol:</b>
  <%= @ebm.linol %>
</p>

<p>
  <b>Selen:</b>
  <%= @ebm.selen %>
</p>

<p>
  <b>Osm:</b>
  <%= @ebm.osm %>
</p>


<%= link_to 'Edit', edit_ebm_path(@ebm) %> |
<%= link_to 'Back', ebms_path %>
