<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @formula.name %>
</p>

<p>
  <b>Kcal:</b>
  <%= @formula.kcal %>
</p>

<p>
  <b>Prot:</b>
  <%= @formula.prot %>
</p>

<p>
  <b>Cho:</b>
  <%= @formula.cho %>
</p>

<p>
  <b>Fat:</b>
  <%= @formula.fat %>
</p>

<p>
  <b>Sod:</b>
  <%= @formula.sod %>
</p>

<p>
  <b>Pot:</b>
  <%= @formula.pot %>
</p>

<p>
  <b>Calc:</b>
  <%= @formula.calc %>
</p>

<p>
  <b>Chlor:</b>
  <%= @formula.chlor %>
</p>

<p>
  <b>Phos:</b>
  <%= @formula.phos %>
</p>

<p>
  <b>Mag:</b>
  <%= @formula.mag %>
</p>

<p>
  <b>Iron:</b>
  <%= @formula.iron %>
</p>

<p>
  <b>Zinc:</b>
  <%= @formula.zinc %>
</p>

<p>
  <b>Mang:</b>
  <%= @formula.mang %>
</p>

<p>
  <b>Copp:</b>
  <%= @formula.copp %>
</p>

<p>
  <b>Iod:</b>
  <%= @formula.iod %>
</p>

<p>
  <b>Vita:</b>
  <%= @formula.vita %>
</p>

<p>
  <b>Vitb1:</b>
  <%= @formula.vitb1 %>
</p>

<p>
  <b>Vitb2:</b>
  <%= @formula.vitb2 %>
</p>

<p>
  <b>Vitb3:</b>
  <%= @formula.vitb3 %>
</p>

<p>
  <b>Vitb5:</b>
  <%= @formula.vitb5 %>
</p>

<p>
  <b>Vitb6:</b>
  <%= @formula.vitb6 %>
</p>

<p>
  <b>Vitc:</b>
  <%= @formula.vitc %>
</p>

<p>
  <b>Vitd:</b>
  <%= @formula.vitd %>
</p>

<p>
  <b>Vitb12:</b>
  <%= @formula.vitb12 %>
</p>

<p>
  <b>Vitb7:</b>
  <%= @formula.vitb7 %>
</p>

<p>
  <b>Vite:</b>
  <%= @formula.vite %>
</p>

<p>
  <b>Vitk:</b>
  <%= @formula.vitk %>
</p>

<p>
  <b>Chol:</b>
  <%= @formula.chol %>
</p>

<p>
  <b>Fol:</b>
  <%= @formula.fol %>
</p>

<p>
  <b>Biot:</b>
  <%= @formula.biot %>
</p>

<p>
  <b>Fibre:</b>
  <%= @formula.fibre %>
</p>

<p>
  <b>Aman:</b>
  <%= @formula.aman %>
</p>

<p>
  <b>Dha:</b>
  <%= @formula.dha %>
</p>

<p>
  <b>Linol:</b>
  <%= @formula.linol %>
</p>

<p>
  <b>Selen:</b>
  <%= @formula.selen %>
</p>

<p>
  <b>Osm:</b>
  <%= @formula.osm %>
</p>


<%= link_to 'Edit', edit_formula_path(@formula) %> |
<%= link_to 'Back', formulas_path %>
